@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap');


.hide {
    display: none;
}

* {
    margin: 0;
    padding: 0;

    .yeseva-one-regular {
        font-family: "Yeseva One", serif;
        font-style: normal;
    }

    .poppins-thin {
        font-family: "Poppins", serif;
        font-style: normal;
    }


}

main {
    margin: 0 auto;
    max-width: 1440px;
}


section {
    margin-bottom: 128px;
}

/* Shared Item */
.flex {
    display: flex;
}

/* share color */
.three-e {
    color: #3E3E3E;
}

.four-2 {
    color: #424242;
}

.m25 {
    color: #FFAD5A;
}

/* header */
header {
    margin-bottom: 120px;
}

.header-container {
    justify-content: space-evenly;
    /* justify-items: center; */

}

.header-left-side {
    width: 50%;
    padding-top: 140px;
}

.header-title {
    font-family: "Yeseva One", serif;
    /* height: 160px; */
    font-size: 3.75rem;
    width: 503px;
}

#h-t-prblm {
    /* margin-right: 14px;
    background-color: #FF5959;
    width: 4px;
    height: 124px;
    
    border-radius: 5px; */

}

.header-description {
    padding-top: 18px;
    padding-bottom: 20px;
    width: 471px;
}

.btn-primary {
    border-radius: 5px;
    color: #fff;
    background-color: #FF5959;
    padding: 12px 35px;
    border: none;

}

.header-bottom-description {
    padding-top: 20px;
    color: #434343;
}


.hero {

    width: 350px;

}

/* mission */

.my-mission-title {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 48px;
}

.mission-container {
    justify-content: space-around;
    /* align-items: center; */

}

.mission-img {
    width: 140px;
}

.mission-description {
    width: 315px;
}


.mission-div {
    padding-top: 25px;
    padding-left: 32px;
}

.mission {
    border-radius: 26px;
    margin-right: 30px;
    height: 347px;
    width: 360px;
    background-color: rgba(79, 157, 166, 0.1);
}

.mission-center {
    border-radius: 26px;
    /* gap: 24px; */
    margin-right: 30px;
    height: 347px;
    width: 360px;
    background-color: rgba(171, 144, 144, 0.1);
}

.mission-right {
    border-radius: 26px;
    /* gap: 24px; */
    margin-right: 30px;
    height: 347px;
    width: 360px;
    background-color: rgba(255, 244, 214, 1);
}

/* develops */
.develop-container {
    justify-content: space-evenly;
}

.coding {
    border-radius: 26px;
    width: 400px;
}

.develop-right-side {
    width: 50%;
}

.develop-title {
    width: 435px;
    height: 108px;
    font-size: 2.25rem;
    color: #333333;
    padding-bottom: 17px;
}

.develop-description {
    width: 554px;
    padding-bottom: 19px;
}

/* global community */
.global-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.project {
    border-radius: 26px;
    width: 400px;
}

.global-right-side {
    width: 50%;
}

.global-title {
    width: 435px;
    height: 108px;
    font-size: 2.25rem;
    color: #333333;
    padding-bottom: 17px;
}

.global-description {
    width: 554px;
    padding-bottom: 19px;
}
/* corona-application-title */
.corona-application-title{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 100px;
}

/* corona application */
.corona-right-side {
    padding-top: 140px;
    width: 50%;
}

.corona-title {
    width: 435px;
    height: 108px;
    font-size: 2.25rem;
    color: #333333;
    padding-bottom: 17px;
}

.corona-description {
    width: 554px;
    padding-bottom: 19px;
}

/* footer */
.footer-container{
    max-width: 1280px;
    height: 170px;
    margin: 0 auto;
    background-color: #0B0D17;
}
.footer-title{
    padding-top: 39px;
    padding-bottom: 22px;    
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-family:Yeseva One ;
}
.footer-description{
    color: #D9DBE1;
    text-align: center;
}

/* Responsive medium device */
@media screen and (max-width:576px) {

    .header-container,
    .develop-container,
    .global-container {
        flex-direction: column-reverse;
    }

    .mission-container {
        flex-direction: column;
        margin-right: 59px;
    }

    .header-title {
        font-size: 3rem;
        text-align: center;
    }

    .header-description,
    .develop-description,
    .global-description,
    .corona-description {
        padding-top: 30px;
        text-align: center;
        width: 360px;
        padding-left: 60px;

    }

    .header-right-side {
        margin: 0 auto;
        /* padding-left: 70px; */
        align-items: center;
    }

    .hero {
        padding-left: 60px;
    }

    .btn-primary {
        margin-left: 150px
    }

    .header-bottom-description {
        text-align: center;
        width: 360px;
        padding-left: 60px;
    }

    /* mission-25 */
    .mission-right,
    .mission-center,
    .mission {
        margin-bottom: 20px;
        margin-left: 70px;
    }

    .my-mission-title {
        padding-left: 80px;
        text-align: center;
        width: 350px;
    }

    .mission-div {}


    .mission-img {
        width: 135px;
    }

    /* develop */
    .coding,
    .project {
        padding-top: 49px;
        padding-left: 69px;
        width: 360px;
    }

    .develop-title,
    .global-title,
    .corona-title {
        padding-left: 99px;
    }
    .footer-container {
        width: 100%;
        margin: 0;
    }

}



/* large device responsive */
@media screen and (min-width:577px) and (max-width:1024px) {}